@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .paused {
        animation-play-state: paused;
    }
    .running {
        animation-play-state: running;
    }
}

#slide {
    perspective: 100px;
}
